# Selecting One Column from a Dataframe

In [5]:
import pandas as pd

In [6]:
# reading the csv file
df_exams = pd.read_csv('hotel_bookings.csv')
df_exams.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

# Selecting one column [ ]

using series in 1d and the size its immutable but the data its mutable

### Syntax 1

In [26]:
# select a column with [] (preferred way to select a column)
df_exams['customer_type']

0         Transient
1         Transient
2         Transient
3         Transient
4         Transient
            ...
119385    Transient
119386    Transient
119387    Transient
119388    Transient
119389    Transient
Name: customer_type, Length: 119390, dtype: object

In [9]:
# check out the data type of a column
type(df_exams['customer_type'])

pandas.core.series.Series

In [13]:
# series: attributes and methods
df_exams['customer_type'].index

RangeIndex(start=0, stop=119390, step=1)

In [14]:
df_exams['customer_type'].head()

0    Transient
1    Transient
2    Transient
3    Transient
4    Transient
Name: customer_type, dtype: object

### Syntax 2

this syntax its only valid for one value or a serie

In [17]:
# select a column with .
df_exams.customer_type

0         Transient
1         Transient
2         Transient
3         Transient
4         Transient
            ...
119385    Transient
119386    Transient
119387    Transient
119388    Transient
119389    Transient
Name: customer_type, Length: 119390, dtype: object

if there its an space in the title we need to use the other way so we dont get an error

In [12]:
# select a column with . (pitfalls)
# this will fail if there its a space in the title of the column
df_exams.math score

SyntaxError: invalid syntax (Temp/ipykernel_24744/3061062658.py, line 2)

## Selecting Two or More Columns from a Dataframe [[ ]]

using dataframe in 2d and the size its mutable but the data its mutable also we need to use double [[ ]]

In [29]:
# select 2 or more columns using [[]]
df_exams[['customer_type', 'deposit_type', 'arrival_date_year']]

       customer_type deposit_type  arrival_date_year
0          Transient   No Deposit               2015
1          Transient   No Deposit               2015
2          Transient   No Deposit               2015
3          Transient   No Deposit               2015
4          Transient   No Deposit               2015
...              ...          ...                ...
119385     Transient   No Deposit               2017
119386     Transient   No Deposit               2017
119387     Transient   No Deposit               2017
119388     Transient   No Deposit               2017
119389     Transient   No Deposit               2017

[119390 rows x 3 columns]

In [20]:
# check out the data type of the selection
type(df_exams[['customer_type', 'deposit_type','arrival_date_year']])

pandas.core.frame.DataFrame

In [30]:
# we can't select 2 or more columns with the "."
df_exams.'gender', 'math score'

SyntaxError: invalid syntax (Temp/ipykernel_24744/636409209.py, line 2)