# importing data

In [3]:
# import pandas
import pandas as pd
# import numpy
import numpy as np

In [8]:
# reading the csv file
df_exams = pd.read_csv('sales.csv')
df_exams.head()

C:\Users\hanns\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0

In [9]:
df_exams.dtypes

order_id             object
order_date           object
status               object
item_id             float64
sku                  object
qty_ordered         float64
price               float64
value               float64
discount_amount     float64
total               float64
category             object
payment_method       object
bi_st                object
cust_id             float64
year                  int64
month                object
ref_num               int64
Name Prefix          object
First Name           object
Middle Initial       object
Last Name            object
Gender               object
age                 float64
full_name            object
E Mail               object
Customer Since       object
SSN                  object
Phone No.            object
Place Name           object
County               object
City                 object
State                object
Zip                   int64
Region               object
User Name            object
Discount_Percent    float64
dtype: object

# Math Operations on Dataframes

### Operations in columns

In [23]:
# This will get only tha last number
df_exams['total'].count()
df_exams['total'].mean()

df_exams['total'].max()
df_exams['total'].min()
df_exams['total'].std()

1983.580302152569

In [10]:
# select a column and calculate total sum
df_exams['total'].sum()

233650194.43208995

In [14]:
# count, mean, std, max, and min
df_exams['total'].count()

286392

In [15]:
df_exams['total'].mean()

815.8405068306274

In [16]:
df_exams['total'].std()

1983.580302152569

In [17]:
df_exams['total'].max()

101262.59

In [18]:
df_exams['total'].min()

0.0

here we calculate all the values all summarize in one table

In [19]:
# easier calculation with .describe()
df_exams.describe()

,item_id,qty_ordered,price,value,discount_amount,total,cust_id,year,ref_num,age,Zip,Discount_Percent
count,286392.000000,286392.000000,286392.000000,286392.000000,286392.000000,286392.000000,286392.000000,286392.000000,286392.000000,286392.000000,286392.000000,286392.000000
mean,741664.902131,3.011296,851.385253,885.879934,70.039427,815.840507,70048.019054,2020.618778,560853.663395,46.489033,49723.160015,6.069079
std,95746.031827,4.573837,1741.750751,2073.252179,256.880870,1983.580302,30243.856395,0.485688,255828.418398,16.673288,27597.198873,10.100100
min,574769.000000,1.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2020.000000,111127.000000,18.000000,210.000000,0.000000
25%,659684.500000,2.000000,49.900000,49.900000,0.000000,49.900000,56519.000000,2020.000000,341265.000000,32.000000,26571.750000,0.000000
50%,742309.000000,2.000000,119.000000,158.970000,0.000000,149.800000,74225.500000,2021.000000,564857.000000,47.000000,49316.000000,0.000000
75%,826124.250000,3.000000,950.000000,910.000000,18.383050,800.000000,92357.000000,2021.000000,781086.000000,61.000000,72645.000000,11.000000
max,905208.000000,501.000000,101262.590000,101262.590000,30213.150000,101262.590000,115326.000000,2021.000000,999981.000000,75.000000,99950.000000,75.000000

### Operations in rows

In [24]:
# calculating the sum in a row
df_exams['qty_ordered'] * df_exams['price']

0         1887.9
1          209.0
2         1349.1
3          719.1
4          199.8
           ...
286387    8839.8
286388      79.8
286389      80.0
286390      99.8
286391    7119.8
Length: 286392, dtype: float64

In [25]:
# calculating the average score and assigning the result to a new column
df_exams['average'] = (df_exams['value'] + df_exams['price'] + df_exams['qty_ordered'])/3

but only one column with round numbers and a header

In [33]:
# showing the dataframe
df_exams['average'].round(2).head()

0    636.30
1     73.33
2    452.70
3    242.70
4     67.27
Name: average, dtype: float64

# Value Counts

### counting elements in a column

In [38]:
# counting elements
# len function
len(df_exams['County'])

286392

In [40]:
# .count() method
df_exams['County'].count()

286392

### we have the count of all the values inside the columns

In [41]:
# counting gender elements by category
df_exams['County'].value_counts()

Jefferson        3510
Los Angeles      3198
DeKalb           3098
Washington       2863
Montgomery       2563
                 ...
Bloom City          1
Cinda               1
Lisbon Center       1
Clintonville        1
Burnwell            1
Name: County, Length: 2551, dtype: int64

### we have the percentage of the metrics

In [47]:
# return the relative frequency (divide all values by the sum of values)
df_exams['status'].value_counts(normalize=True)

canceled          0.3917
complete          0.3107
received          0.1808
order_refunded    0.0898
refund            0.0133
cod               0.0100
paid              0.0026
closed            0.0006
payment_review    0.0002
pending           0.0002
processing        0.0001
holded            0.0001
pending_paypal    0.0000
Name: status, dtype: float64

In [45]:
# counting the user names
df_exams['User Name'].value_counts()

jugonzalez     2524
exbailes        707
lumelo          608
pnbraddy        436
hmbeebe         397
               ...
coherald          1
mpmessier         1
bqblumer          1
fjpagano          1
reschlosser       1
Name: User Name, Length: 64006, dtype: int64

In [50]:
# return the relative frequency and round to 2 decimals
df_exams['Region'].value_counts(normalize=True).round(2)

South        0.36
Midwest      0.28
West         0.18
Northeast    0.18
Name: Region, dtype: float64