# Command Mode (press Esc to enable)

F : find and replace
Ctrl-Shift-F : open the command palette
Ctrl-Shift-P : open the command palette
Enter : enter edit mode
P : open the command palette
Shift-Enter : run cell, select below
Ctrl-Enter : run selected cells
Alt-Enter : run cell and insert below
Y : change cell to code
M : change cell to markdown
R : change cell to raw
1 : change cell to heading 1
2 : change cell to heading 2
3 : change cell to heading 3
4 : change cell to heading 4
5 : change cell to heading 5
6 : change cell to heading 6
K : select cell above
Up : select cell above
Down : select cell below
J : select cell below
Shift-K : extend selected cells above
Shift-Up : extend selected cells above
Shift-Down : extend selected cells below
Shift-J : extend selected cells below
Ctrl-A : select all cells
A : insert cell above
B : insert cell below
X : cut selected cells
C : copy selected cells
Shift-V : paste cells above
V : paste cells below
Z : undo cell deletion
D,D : delete selected cells
Shift-M : merge selected cells, or current cell with cell below if only one cell is selected
Ctrl-S : Save and Checkpoint
S : Save and Checkpoint
L : toggle line numbers
O : toggle output of selected cells
Shift-O : toggle output scrolling of selected cells
H : show keyboard shortcuts
I,I : interrupt the kernel
0,0 : restart the kernel (with dialog)
Ctrl-V : Dialog for paste from system clipboard
Esc : close the pager
Q : close the pager
Shift-L : toggles line numbers in all cells, and persist the setting
Shift-Space : scroll notebook up
Space : scroll notebook down

# Edit Mode (press Enter to enable)

Ctrl-A : select all
Ctrl-Z : undo
Ctrl-/ : comment
Ctrl-D : delete whole line
Ctrl-U : undo selection
Insert : toggle overwrite flag
Ctrl-Home : go to cell start
Ctrl-Up : go to cell start
Ctrl-End : go to cell end
Ctrl-Down : go to cell end
Ctrl-Left : go one word left
Ctrl-Right : go one word right
Ctrl-Backspace : delete word before
Ctrl-Delete : delete word after
Ctrl-Y : redo
Alt-U : redo selection
Ctrl-M : enter command mode
Ctrl-Shift-F : open the command palette
Ctrl-Shift-P : open the command palette
Esc : enter command mode
Shift-Enter : run cell, select below
Ctrl-Enter : run selected cells
Alt-Enter : run cell and insert below
Ctrl-Shift-Minus : split cell at cursor(s)
Ctrl-S : Save and Checkpoint
Down : move cursor down
Up : move cursor upCommand Mode (press Esc to enable)

# creating our 1sr message

printing our 1srt message

In [120]:
#printing our 1srt message
print("hello world!")

hello world!

# data type

In [121]:
type(1)

int

In [122]:
type(2.5)

float

In [123]:
2*4

8

In [124]:
type(True)

bool

In [125]:
type("holla soy una string")

str

In [126]:
#we have to use the print method to prin all the text
print("transform to upper the text to upper".upper())
print("TRANSFORM to upper the text to lower".lower())
print("transform to upper the text to title".title())

TRANSFORM TO UPPER THE TEXT TO UPPER
transform to upper the text to lower
Transform To Upper The Text To Title

In [127]:
#count how many times the letter e its inside
"transform to upper the text to title".count("e")

4

In [128]:
#replace a letter
"transform to upper the text to title".replace("e", "X")

'transform to uppXr thX tXxt to titlX'

# variables

In [129]:
message_1 = "We asign this value"

In [130]:
message_1

'We asign this value'

In [131]:
message_2 = "all its fine"

In [132]:
message_2

'all its fine'

In [133]:
message_1 + message_2

'We asign this valueall its fine'

In [134]:
#adding a variable to a text
f'hellow world {message_2}'

'hellow world all its fine'

# List

this are mutable items that can change the values

In [135]:
#We can add duplicated items
country = ["united states", "china", "brazil", "india", "usa"]

In [136]:
country[-3]

'brazil'

In [137]:
#slicing items
country[1:3]

['china', 'brazil']

In [138]:
country[:3]

['united states', 'china', 'brazil']

# Adding elements to the list

In [139]:
#adding element
country.append("canada")

In [140]:
country

['united states', 'china', 'brazil', 'india', 'usa', 'canada']

In [141]:
#adding a element in a difetenr position.
country.insert(0, "spain")

In [142]:
country

['spain', 'united states', 'china', 'brazil', 'india', 'usa', 'canada']

In [143]:
#Nested list
nested_list = [country, "more countrys..."]

In [144]:
nested_list

[['spain', 'united states', 'china', 'brazil', 'india', 'usa', 'canada'],
 'more countrys...']

In [145]:
#removing a country using the name if we know the name of the item
country.remove("canada")

In [146]:
country

['spain', 'united states', 'china', 'brazil', 'india', 'usa']

In [147]:
#We get this element or we can delete it
countrinameCanada = country.pop(-2)

In [148]:
country

['spain', 'united states', 'china', 'brazil', 'usa']

In [149]:
countrinameCanada

'india'

In [150]:
#delete a name 
del country[0]

In [151]:
country

['united states', 'china', 'brazil', 'usa']

# Soarting a list

In [152]:
numbers = [5,6,88,1,2,35,41,23,1,56]

In [153]:
numbers.sort()

In [154]:
numbers

[1, 1, 2, 5, 6, 23, 35, 41, 56, 88]

In [155]:
#Reverse the order of numbers
numbers.sort(reverse = True)

In [156]:
numbers

[88, 56, 41, 35, 23, 6, 5, 2, 1, 1]

# Update an element

In [157]:
numbers[0] = 1000
numbers

[1000, 56, 41, 35, 23, 6, 5, 2, 1, 1]

# copying a list

Diferent way yo copy items

In [158]:
copy_country = country[:]
copy_country

['united states', 'china', 'brazil', 'usa']

In [159]:
copy_country2 = country.copy()
copy_country2

['united states', 'china', 'brazil', 'usa']

# Dictionary

In [175]:
#Format of my dictionaty
# my_dict = {'key1:' : 'value','key2:' : 'value','key3:' : 'value'}

In [174]:
my_dict = {'name:' : 'john','age:' : 42,'color:' : 'red'}

In [162]:
my_dict

{'name:': 'john', 'age:': '42', 'color:': 'red'}

In [163]:
#This its how you get the name of the keys
my_dict.keys()

dict_keys(['name:', 'age:', 'color:'])

In [164]:
#get the values
my_dict.values()

dict_values(['john', '42', 'red'])

In [165]:
# <!-- get all the dictionarry  -->
my_dict.items()

dict_items([('name:', 'john'), ('age:', '42'), ('color:', 'red')])

In [166]:
# adding an item to an dictionary
my_dict['height'] =2.5
my_dict

{'name:': 'john', 'age:': '42', 'color:': 'red', 'height': 2.5}

In [167]:
# to change the value or update we used the method update
my_dict.update({'height': 4010})
my_dict

{'name:': 'john', 'age:': '42', 'color:': 'red', 'height': 4010}

# copy for dictionary

In [168]:
new_dict = my_dict.copy()
new_dict

{'name:': 'john', 'age:': '42', 'color:': 'red', 'height': 4010}

In [187]:
# Onces we update again the height value we will recive a diferent value
my_dict.update({'height': 222})
my_dict

{'name:': 'john', 'age:': '42', 'color:': 'red', 'height': 222}

In [178]:
new_dict

{'name:': 'john', 'age:': '42', 'color:': 'red', 'height': 4010}

# remove element

when we get the error below its possible that we already rdelet the data


---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_14400/61235004.py in <module>
----> 1 my_dict2.remove("name")

AttributeError: 'dict' object has no attribute 'remove'

In [21]:
my_data = {'name':'Frank', 'age':26, 'height' : 516, 'color': 'red'}

In [215]:
#this its how you remove some data from the dictionary
my_data.pop('height')

516

In [216]:
# delete the data 
del my_data['age']

In [217]:
my_data

{'name': 'Frank', 'color': 'red'}

In [218]:
# if we wanted to clear all the dictionary we use clear
my_data.clear()

In [219]:
my_data

{}

# If Statement

The if statement is one of the most common statements used in Python. It's a conditional statement used to decide whether a statement (or block of statements) will be executed.

In [7]:
age = 2

if age>=18:
    print("You're an adult!")
elif age>=13:
    print("You're a teenager!")
else:
    print("You're a kid")

You're a kid

We can use the if statement with in keyword to verify if an element is in a list.

In [3]:
countries = ['United States', 'India',
             'China', 'Brazil']

if 'China' in countries:
    print("Country is in list")
else:
    print("Not in list")

Country is in list

### Operators

Comparisson Operators

*  Equal to: ==
* Different: !=
* Greater than: >
* Less than: <
* Greater than or equal to: >=
* Less than or equal to: <=
* Boolean Operators

* and
* or
* not

# For Loop

The for loop is a frequently used loop in Python. It allows us to loop through an iterable object (e.g., list, dictionaries) and perform the same action to each element.

In [11]:
for x in countries:
    print(x)

United States
India
China
Brazil

In [23]:
for country in countries:
    if country == "United States":
        print(country)

United States

### Enumerating in a for loop

Sometimes we need to enumerate elements in a loop. We can do this with the for loop.

In [22]:
for i, country in enumerate(countries):
    print(i)
    print(country)

0
United States
1
India
2
China
3
Brazil

### Looping through dictionary elements

We can obtain the key and item separately while looping through a dictionary. We only need to use the .items() method.

In [25]:
for key, value in my_data.items():
    print(key)
    print(value)

name
Frank
age
26
height
516
color
red

# Functions

### Built-In Functions

Python has lots of built-in functions that can help us perform a specific task. Let's have a look at the most common of them.

* range()
* len()
* max()
* min()
* round()
* type()

### How to Create a Function

We can also create our own functions. Let's create a function that sums two values a and b

In [30]:
def sum_values(a,b):
    x = a+b
    return x

In [31]:
sum_values(2,3)

5

some functions that are already build in

In [33]:
 #we get data from the countrys above
len(countries)

4

In [41]:
max([234,25,2,52,41,1,12,6,728,3,462,93])

728

In [42]:
min([234,25,2,52,41,1,12,6,728,3,462,93])

1

In [43]:
type([234,25,2,52,41,1,12,6,728,3,462,93])

list

In [46]:
#for run a range we need to use a loop
for i in range(5,50,3):
    print(i)

5
8
11
14
17
20
23
26
29
32
35
38
41
44
47

# Modules

A module is a file consisting of Python code. A module can contain functions, classes, variables and also runnable code.

We can get access to a Python module with the "import" statement

### OS Module

The OS module comes with Python. It provides functions for interacting with the operating system

In [47]:
import os

In [49]:
#get the current dirrectory were we are working
os.getcwd()

'C:\\Users\\hanns\\OneDrive\\Documentos\\Data science code\\Data Analysis with Python for Excel Users'

In [50]:
#list all the elements that we have in the directory
os.listdir()

['#1 Testing.ipynb', '.git', '.ipynb_checkpoints', 'test.md', 'untitled.txt']

In [55]:
#we can create a new folder
os.makedirs('New Folder')
# if its already created this will give us an error

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'New Folder'

In [56]:
os.listdir()

['#1 Testing.ipynb',
 '.git',
 '.ipynb_checkpoints',
 'New Folder',
 'test.md',
 'untitled.txt']